body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to top right, #7fff00, #e5ffcc);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    padding: 1rem 18.5rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}
.logo {
  position: absolute;
  left: 20px;
  top: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

h1 {
  font-size: 2em;
  color: #252b2c;
}

.form-container {
  background-color: #f2ffe6;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  margin-top: 1px;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 15px;
  font-weight: bold;
  color: #252b2c;
}

input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.botones {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.volver {
  background-color: #eeff00;
  color: black;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
}

.registrarse {
  background-color: yellow;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 48px 0 48px;
}

.logo {
    height: 70px;
    width: auto;
    margin-right: 40px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: flex-end;
}

.menu li {
    display: inline;
}

.menu a {
    text-decoration: none;
    color: #222;
    font-weight: bold;
    padding: 8px 12px;
    transition: background 0.2s, color 0.2s;
}

.menu a:hover,
.menu .registrarse-link:hover {
    background: #f0f0f0;
    color:#5eb805;
    border-radius: 4px;
}